// src/App.scss
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  box-sizing: border-box; /* Đảm bảo box-sizing là border-box cho tất cả phần tử */
}

html,
body {
  height: 100%; /* Đảm bảo html và body chiếm toàn bộ chiều cao */
}

#root {
  height: 100%; /* Đảm bảo #root chiếm toàn bộ chiều cao */
}
