@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-green-500: oklch(0.72 0.23 145); /* Màu xanh Spotify */
  --color-green-600: oklch(0.65 0.25 145);
  --color-green-700: oklch(0.58 0.27 145);
  --color-black-900: oklch(0.05 0 0); /* Màu đen nền */
  --color-gray-800: oklch(0.15 0 0);
  --color-gray-700: oklch(0.3 0 0);
  --color-white-500: oklch(1 0 0); /* Màu trắng */
}




#root {
  background-color: var(--color-black-900);
  color: var(--color-white-500);
}

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ant-popover-inner {
  color: var(--color-white-500) !important;
  padding: 0  !important;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-modal-content, .ant-modal-header, .ant-modal-title {
  background-color: var(--color-zinc-900) !important;
  color: white !important;
}


:where(.ant-btn-primary) {
  background-color: var(--color-green-500) !important;
  border-color: var(--color-green-500) !important;
}

:where(.ant-btn-primary):hover {
  background-color: var(--color-green-600) !important;
  border-color: var(--color-green-600) !important;
}



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    height: 40px; /* Giới hạn chiều dài của thanh cuộn */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
